/* Mulish Font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

/* shared styles */
* {
    font-family: 'Mulish', sans-serif;
}

:root {
    --primary-color: #131318;
    --secondary-color: #424247;
    --special-color: #FF5400;
    --description-color: rgba(19, 19, 24, 0.70);
    --secondary-description-color: #5A5A5D;
    --overlap-text-color: #FFF;
    --font-size: 16px
}

/* header styles */
nav {
    display: flex;
    justify-content: space-between;

}

.title {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 48px;
    height: 56px;
    margin-top: 25px;
    margin-right: 10px;
}

h2 {
    color: var(--primary-color);
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}

.menu {
    margin-top: 25px;
}

.menu>ul {
    display: flex;
}

.menu li {
    list-style: none;
    margin-right: 44px;
    font-weight: 400;
    font-size: 18px;
}

.menu li a {
    color: var(--secondary-color);
    text-decoration: none;
}

.menu .home a {
    color: var(--special-color);
    font-weight: 700;
}

.menu ul img {
    display: none;
}
main {
    width: 100%;
}
/* banner styles */

.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00)), url('/Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    border-radius: 16px;
    height: 500px;
    margin: 50px 135px;
}

h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    padding-top: 100px;
}

.banner-content>p {
    color: #FFF;
    text-align: center;
    font-weight: 400;
    width: 650px;
    padding: 0px 250px 50px 250px;
    margin-bottom: 0;
}

.banner-form {
    display: flex;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    border-style: none;
    align-items: center;
    align-content: center;
    width: 70%;
    margin-left: 180px;
    margin-top: 0px;
}

.form {
    border-radius: 8px;
    background: #FFF;
    width: 170px;
    padding: 16px;
    margin: 24px;
    color: rgba(19, 19, 24, 0.50);
}

input {
    width: 170px;
    padding: 16px;
    margin: 24px;
}
.banner-form>button {
    background-color: var(--special-color);
    color: #FFF;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    gap: 5px;
}


/* responsive styles for mobile */

@media screen and (max-width:600px) {

    /* nav related style */

    .menu li {
        display: none;
    }

    .menu ul img {
        display: inline;
    }

    .banner {
        width: 100%;
        height: fit-content;
        margin: auto;
    }

    .banner-content {
        margin: auto;
        text-align: justify;
    }

    h1 {
        font-size: 22px;
        padding-top: 20px;
    }

    .banner-content>p {
        padding: 5px;
        width: 90%;
        align-items: center;
    

    }

    .banner-form {
        flex-direction: column;
        justify-content: center;
        padding-left: 5px;
        margin-left: 50px;
    }

    .form {
        width: 220px;
        height: 52px;
        margin: 10px;
        padding: 10px;

    }
}