/* Mulish Font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

/* shared styles */
* {
    font-family: 'Mulish', sans-serif;
}

:root {
    --primary-color: #131318;
    --secondary-color: #424247;
    --special-color: #FF5400;
    --description-color: rgba(19, 19, 24, 0.70);
    --secondary-description-color: #5A5A5D;
    --overlap-text-color: #FFF;
    --font-size: 16px
}

.description {
    color: var(--secondary-description-color);
}

/* header styles */
nav {
    display: flex;
    justify-content: space-between;

}

.title {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 48px;
    height: 56px;
    margin-top: 25px;
    margin-right: 10px;
}

h2 {
    color: var(--primary-color);
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}

.menu {
    margin-top: 25px;
}

.menu>ul {
    display: flex;
}

.menu li {
    list-style: none;
    margin-right: 44px;
    font-weight: 400;
    font-size: 18px;
}

.menu li a {
    color: var(--secondary-color);
    text-decoration: none;
}

.menu .home a {
    color: var(--special-color);
    font-weight: 700;
}

.menu ul img {
    display: none;
}

main {
    width: 100%;
}

/* banner styles */

.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00)), url('./Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    border-radius: 16px;
    height: 500px;
    width: 80%;
    margin: 50px 135px;
}

h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    padding-top: 100px;
}

.banner-content>p {
    color: #FFF;
    text-align: center;
    font-weight: 400;
    width: 650px;
    padding: 0px 250px 50px 250px;
    margin-bottom: 0;
}

.banner-form {
    display: flex;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    border-style: none;
    align-items: center;
    align-content: center;
    width: 70%;
    margin-left: 180px;
    margin-top: 0px;
}

.form {
    border-radius: 8px;
    background: #FFF;
    width: 170px;
    padding: 16px;
    margin: 24px;
    color: rgba(19, 19, 24, 0.50);
}

.banner-form input {
    width: 140px;
    padding: 16px;
    margin: 24px;
}

.banner-form>button {
    background-color: var(--special-color);
    color: #FFF;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    gap: 5px;
}

/* popular tour section styles */
.popular-tour {
    display: flex;
    gap: 70px;
    max-width: 1440px;
    height: 700px;
    margin: 130px;
    padding-bottom: 25px;
}

.popular-tour-content {
    color: var(--secondary-description-color)
}

.popular-tour-content li {
    padding-bottom: 25px;
}

button {
    background-color: var(--special-color);
    color: #FFF;
    font-size: 18px;
    font-weight: 800;
    width: 174px;
    height: 52px;
    padding: 16px;
    margin-top: 20px;
    border-radius: 8px;
    border-style: none;
    text-align: center;
}

/* choose your destination section styles */
.destination {
    margin: 130px;
}

.destination h2 {
    text-align: center;
}

.destination p {
    width: 650px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 45px;
    text-align: center;
    align-content: center;
}

.row {
    height: 100%;
    display: flex;
    gap: 25px;
    padding-bottom: 25px;
}

.row img {
    width: 100%;


}

/* why-choose-us section styles */
.why-choose-us {
    max-width: 1440px;
    margin: 130px;

}

.why-choose-us-description {
    width: 650px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 45px;
    text-align: center;
    align-content: center;
}

.text-row {
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
}

.hotel {
    width: 550px;
    height: 250px;
    padding: 30px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.map {
    width: 573px;
    height: 250px;
    padding: 30px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.price-tag {
    margin: auto;
    width: 50%;
    height: 250px;
    padding: 30px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* newsletter styles */

.newsletter {
    display: flex;
    gap: 25px;
    height: 425px;
}

.newsletter-content {
    border: 2px solid #FF5400;
    border-radius: 16px;
    margin-left: 130px;
    padding: 50px;
}

.newsletter-input input {
    background-color: rgba(19, 19, 24, 0.05);
    width: 80%;
    border: 1px solid rgba(19, 19, 24, 0.05);
    border-radius: 8px;
    margin-bottom: 16px;
}

.newsletter-input button {
    width: 90%;
}

.newsletter-offer img {
    width: 672px;
    height: 422px;
}

.newsletter-offer .box {
    border: 1px solid #FF5400;
    border-radius: 16px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    padding: 20px;
    width: 250px;
    height: 100px;
    position: relative;
    top: -190px;
    right: -365px;
    transform: rotate(-20deg)
}

footer {
    background-color: rgba(19, 19, 24, 0.05);
    align-items: center;
    text-align: center;
    padding: 100px 300px;
}

.footer-title {
    display: flex;
    justify-content: center;
}

.travel-blog {
    width: 80%;
    margin: 130px;
}
.travel-blog .box {
    background-color:  rgba(251, 181, 99, 0.05);
    height: 300px;
    display: flex;
    justify-content: space-around;
    border: 2px solid #FF5400;
    border-radius: 16px;
    margin-bottom: 20px;
    text-align: center;
    align-content: center;
}
.travel-blog .box h3 {
    color: #9f877b;
    font-size: 32px;
    font-weight: 800;
    padding-top: 70px;
}
h3 a {
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover {
    color: #FF5400;
}





/* responsive styles for mobile */

@media screen and (max-width:600px) {

    /* nav related style */

    .menu li {
        display: none;
    }

    .menu ul img {
        display: inline;
    }

    .banner {
        width: 100%;
        height: fit-content;
        margin: auto;
        padding-left: 20px;
    }

    .banner-content {
        margin: auto;
        text-align: justify;
    }

    h1 {
        font-size: 22px;
        padding-top: 20px;
    }

    .banner-content>p {
        padding: 5px;
        width: 90%;
        align-items: center;
    }

    .banner-form {
        flex-direction: column;
        justify-content: center;
        padding-left: 5px;
        margin-left: 50px;
    }

    .form {
        width: 220px;
        height: 52px;
        margin: 10px;
        padding: 10px;
    }
    .banner-form input {
        width: 48%;
        padding-left: 10px;
        padding-top: 0;
        padding-bottom: 0;
    }

    /* body related styles */
    .popular-tour {
        flex-direction: column;
        margin: 10px;
        width: 100%;
    }

    .popular-tour>div img {
        width: 100%;
        margin: 5px;
    }

    .destination {
        margin-top: 600px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .destination p {
        align-items: center;
        width: 90%;
        margin: 10px;
    }

    .row {
        flex-direction: column;
    }

    .row img {
        width: 100%;
        height: 250px;
    }

    /* why choose us section styles */

    .why-choose-us {
        width: 100%;
        margin: auto;
    }

    .why-choose-us-description {
        width: 90%;
        margin-left: auto;
        align-items: center;
    }

    .text-row {
        flex-direction: column;
    }

    .hotel,
    .map,
    .price-tag {
        width: 90%;
        margin-left: 10px;
    }

    /* newsletter styles */
    .newsletter {
        flex-direction: column;
        width: 100%;
    }

    .newsletter-content {
        width: 80%;
        margin: 10px;
    }

    .newsletter-offer {
        width: 100%;
    }

    .newsletter-offer img {
        width: 100%;
        height: 300px;
        margin-left: 10px;
    }

    .newsletter-offer .box {
        width: 50%;
        right: -120px;
    }

    footer {
        width: 100%;
        padding: 20px;
        margin-top: 500px;
    }
    .travel-blog {
        width: 100%;
        margin: 10px;
    }
    .travel-blog .box img {
        height: 400px;
    }
    .travel-blog .box {
        width: 100%;
        height: 700px;
        flex-direction: column;
    }
    .travel-blog .box h3 {
        font-size: 20px;
    }
}